{% extends "quiz/base.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block body %}
    {% for question in questions %}
        <div class='question'>
            <p1>{{ question.number }}. {{ question.content }}</p1>
        </div>
        <form class="answers" action="", method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
            {% if answer %}
                {% if answer == question.correct_answer %}
                    <p>Correct!</p>
                {% else %}
                    <p>Incorrect</p>
                {% endif %}
            {% endif %}
        </form>
    {% endfor %}
{% endblock %}