{% extends 'quiz/base.html'%}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class='m-2'>
        <h1>All quizzes</h1>
        {% if user.role == 'T' %}
            {% for quiz in user.quizes.all %}
                <p class='mt-2'>{{ quiz.title }}</p>
                <a href="{% url "quiz_detail" quiz.id %}" class='btn btn-primary'>Start {{ quiz.title }}</a>
                <a href="{% url "quiz_edit" quiz.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'quiz_statistics' quiz.id %}" class='btn btn-primary'>View Quiz Statistics</a>
                <a href="{% url "quiz_delete" quiz.id %}" class='btn btn-danger'>Delete quiz</a>
            {% empty %}
                <p>No quizzes created yet</p>
            {% endfor %}
            <a href="{% url 'quiz_create' %}" class="btn btn-primary">Create Quiz</a>
        {% else %} <!--show quizzes assigned to student-->
            {% for quiz in quizes %}
                <p class='mt-2'>{{ quiz.title }}</p>
                <a href="{% url "quiz_detail" quiz.id %}" class='btn btn-primary'>Start {{ quiz.title }}</a>
            {% empty %}
                <p>No quizzes assigned to you yet.</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

