{% extends 'quiz/base.html' %}

{% block title %}
Profile
{% endblock%}

{% block body %}
    <div class='m-2'>
    <h1>Профиль</h1>
    {% if is_teacher %}
        <h2>Мои ученики:</h2>
        <ul>
            {% for student in students %}
                <li>{{ student.username }}</li>
            {% empty %}
                <li>У вас нет учеников.</li>
            {% endfor %}
        </ul>
    {% elif is_student %}
        <h2>Мой учитель:</h2>
        {%if not teacher%}
            <p>Вы еще не выбрали учителя</p>
            <a href="{% url "select_teacher"%}" class='btn btn-primary'>Выбрать учителя</a>
        {% endif %}
        <p>{{ teacher.username }}</p>
        <a href="{% url "select_teacher"%}" class='btn btn-primary'>Изменить учителя</a>
    {% else %}
        <p>Вы не учитель или ученик.</p>
    {% endif %}
    </div>
{% endblock %}