{% extends 'quiz/base.html' %}

{% block title %}
    Статистика для {{ object.title }}
{% endblock title %}

{% block body %}
    <h1>Статистика для {{ object.title }}</h1>
    <p>Процент прохождения: {{ pass_rate|floatformat:2 }}%</p>
    <h2>Ученики котрые прошли викторину:</h2>
    <ul>
        {% for student in passed_students %}
            <li>{{ student.student.username }}</li>
        {% empty %}
            <li>Никто не прошел викторину.</li>
        {% endfor %}
    </ul>
{% endblock %}